@CHARSET "UTF-8";

.sc-modal-dialog {
	margin-top: 25vh;
	min-width: 520px;
}
/* .sc-nav {
	height: 50px;
}
.search-tab {
	width: 79px; 
	height: 50px; 
	background-color: #9DDEF9;
	border-radius: 10px;
	padding: 12px 0 0 8px;
}
.collection_tab {
	width: 79px; 
	height: 50px; 
	background-color: #9DDEF9;
	border-radius: 10px;
	padding: 12px 0 0 8px;
	cursor: pointer;
}
.nav li img {
	width: 62px;
	height: 29px;
} */
.search-modal-header-left {
	width:60%; 
	display: inline;
}
.search-modal-header-right {
	float: right;
}
.search-modal-title {
	line-height: 44px;
	max-width: 650px; 
	font-size: 1.5em; 
	font-weight: bold;
}
.search-modal-go-colletion {
	font-size: 1.5em;
}
.search-modal-body {
	margin:  20px;
}
.search-modal-label-area {
	width:23%;
}
.search-modal-input-area {
	 margin-bottom:2px;
	 padding-top:3px;
	 padding-right: 0px;
	 width:50%;
}
.search-modal-btn-area {
	padding-top: 5px;
	width:27%;
}
.sc-btn-search {
	background-color: #9DDEF9;
	color: #0E417B;
	font-weight: bold;
	font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU";
	border-radius: 8px;
}

.sc-btn-cancel { /*這是新類別*/
background-color: transparent;
color: darkgray;
font-weight: bold;
font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體",
"MingLiU";
}

.search-border {
	border:1px solid #BFBFBF;
	border-radius: 12px;
	padding: 10px;
}
.search-left-section {
	margin: 10px 5px 0px 5px;
	width:53%;
}
.search-right-section {
	margin: 10px 0 0px 5px;
	width:25%;
}
.search-modal-section-title {
	line-height: 30px;
}
.search-left-section-space {
	width: 10%;
}
.search-right-section-space {
	width: 10%;
}
.sc-step-tip {
	width: 100%;
	min-width:  465px;
	max-width:  820px;
	margin: auto;
	display: block;
}
@media (max-width: 992px) {
    .form-horizontal .control-label{
	    text-align: left;
	}
	.search-modal-input-area {
		width: 95%;
	}
	.search-left-section {
		width: 98%;
	}
	.search-right-section {
		width: 98%;
	}
}