@CHARSET "UTF-8";
  
.sc-modal-row {
	margin-bottom: 10px;
}
.sc-modal-row-label {
	padding-right: 0px; 
	min-width: 130px;
	line-height: 34px;
}
.add-collection-select {
	width: 100%; 
	height:34px; 
	line-height: 30px;
}
.sc-btn {
	background-color: #9DDEF9;
	color: #0E417B;
	font-weight: bold;
	font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU";
	border-radius: 8px;
}
.sc-modal-btn-area {
	padding-top: 5px;
}
