/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.ms-choice {
	display: block;
	width: 100%;
	height: 26px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #aaa;
	text-align: left;
	white-space: nowrap;
	line-height: 26px;
	color: #444;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
}

.ms-choice.disabled {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}

.ms-choice > span {
	position: absolute;
	top: 0;
	left: 0;
	right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	padding-left: 8px;
}

.ms-choice > span.placeholder {
	color: #999;
}

.ms-choice > div {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 25px;
	background: url('../images/multiple-select.png') left top no-repeat;
}

.ms-choice > div.open {
	background: url('../images/multiple-select.png') right top no-repeat;
}

.ms-drop {
	width: 100%;
	overflow: hidden;
	display: none;
	margin-top: -1px;
	padding: 0;
	position: absolute;
	z-index: 1000;
	background: #fff;
	color: #000;
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ms-drop.bottom {
	top: 100%;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
	bottom: 100%;
	-webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
	box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
	display: inline-block;
	margin: 0;
	min-height: 26px;
	padding: 4px;
	position: relative;
	white-space: nowrap;
	width: 100%;
	z-index: 10000;
}

.ms-search input {
	width: 100%;
	height: auto !important;
	min-height: 24px;
	padding: 0 20px 0 5px;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 1em;
	border: 1px solid #aaa;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff url('../images/multiple-select.png') no-repeat 100% -22px;
	background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
	background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
	background: url('../images/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
	background: url('../images/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
	background: url('../images/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.ms-drop ul {
	overflow: auto;
	margin: 0;
	padding: 5px 8px;
}

.ms-drop ul > li {
	list-style: none;
	display: list-item;
	background-image: none;
	position: static;
}

.ms-drop ul > li .disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
	display: block;
	float: left;
}

.ms-drop ul > li.group {
	clear: both;
}

.ms-drop ul > li.multiple label {
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ms-drop ul > li label {
	font-weight: normal;
	display: block;
	white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
	font-weight: bold;
}

.ms-drop input[type="checkbox"] {
	vertical-align: middle;
}

.ms-drop .ms-no-results {
	display: none;
}

/* 覆寫原始style */
.changeS button:hover{background-color:transparent;}
.changeS button:focus{background-color:transparent;}
.moneyinput{padding:3px; border:1px solid #aaaaaa; border-radius:3px; width:75%;}
.searchblockInBlock{padding:5px 0; text-align:right;}
.font-myblue{color:#0099CC;}
.queryinput{padding:3px; border:1px solid #aaaaaa; border-radius:3px; width:700px;}

.ms-parent{margin-bottom:10px;}
.InlineIPtable dt {
padding:5px 0;color:#0099CC;
}

/* 0916新增 */
/* 基本兩欄排版 */
.twocol:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
.twocol .right{float:right;}
.twocol .left{float:left;}

.margin5TB{margin-top:5px; margin-bottom:5px;}
.margin10TB{margin-top:10px; margin-bottom:10px;}
.margin15TB{margin-top:15px; margin-bottom:15px;}
.margin20TB{margin-top:20px; margin-bottom:20px;}
.margin25TB{margin-top:25px; margin-bottom:25px;}
.margin30TB{margin-top:30px; margin-bottom:30px;}
.margin5B{margin-bottom:5px;}
.margin5T{margin-top:5px;}
.margin10B{margin-bottom:10px;}
.margin10T{margin-top:10px;}
.margin15B{margin-bottom:15px;}
.margin15T{margin-top:15px;}
.margin20B{margin-bottom:20px;}
.margin20T{margin-top:20px;}
.margin25B{margin-bottom:25px;}
.margin25T{margin-top:25px;}
.margin30B{margin-bottom:30px;}
.margin30T{margin-top:30px;}
.margin35B{margin-bottom:35px;}
.margin35T{margin-top:35px;}
.padding10TB{padding-top:10px; padding-bottom:10px;}
.padding5TB{padding-top:5px; padding-bottom:5px;}
.padding5RL{padding-left:5px; padding-right:5px;}
.font-bold{font-weight:bold;}
.font-black{color:#000;}
.font-size1{font-size:0.769em;}
.font-size2{font-size:0.923em;}
.font-size3{font-size:1.154em;}
.font-size4{font-size:1.385em;}
.font-size5{font-size:1.615em;}

/* pop window */
.popwindowblock{
border-radius: 10px;
-webkit-box-shadow: 0 0 10px 4px rgba(48,48,48,0.4);
-moz-box-shadow: 0 0 10px 4px rgba(48,48,48,0.4);
box-shadow: 0 0 10px 4px rgba(48,48,48,0.4);
background-color:#fff;
width:100%;
max-width:900px; 
min-width:320px;
}
.popwindowblock .titlebar{
	border-radius: 6px 6px 0 0;
background-color:#00346b;
background-image: -webkit-gradient(linear, center top, center bottom, from(#00346b), to(#0d5194));
background-image: -webkit-linear-gradient(top, #00346b, #0d5194);
background-image: -moz-linear-gradient(top, #00346b, #0d5194);
background-image: -o-linear-gradient(top, #00346b, #0d5194);
background-image: -ms-linear-gradient(top, #00346b, #0d5194);
background-image: linear-gradient(to bottom, #00346b, #0d5194);
padding:5px;
color:#fff;
font-size:1.3em;
}
.popwindowblock .closebtn{
	border: 1px solid #949494;
border-radius: 4px;
background-color:#c4c4c4;
background-image: -webkit-gradient(linear, center top, center bottom, from(#c4c4c4), to(#d1d1d1));
background-image: -webkit-linear-gradient(top, #c4c4c4, #d1d1d1);
background-image: -moz-linear-gradient(top, #c4c4c4, #d1d1d1);
background-image: -o-linear-gradient(top, #c4c4c4, #d1d1d1);
background-image: -ms-linear-gradient(top, #c4c4c4, #d1d1d1);
background-image: linear-gradient(to bottom, #c4c4c4, #d1d1d1);
padding:0px 5px;
color:#000;
float:right;
font-size:0.5em;
font-weight:bold;
}
.popwindowblock .closebtn:hover{
	background-color:#fff;
background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
}
.popwindowblock .popcontent{
	padding:0 10px 10px 10px;
}
.popwindowblock .popcontent:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
.popwindowblock .popcontent ul.inline li{float:left; display:inline-block; width:150px; list-style:none;}

.searchoutcomeblock{border:1px solid #D7D7D7; background:#F2F2F2; padding:5px; border-radius:5px;}
/* 按鈕樣式 */
.genbtn{background:url(../images/GenStyleImage/BgBtnOutBlue.gif) repeat-x top #9fdef8; border:1px solid #9fdef8; padding:5px 15px;*padding:5px;_padding:5px;color:#2e6b87; font-size:15px; margin:0px 2px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; font-weight:bold;}
.genbtnhover{background:url(../images/GenStyleImage/BgBtnOverBlue.gif) repeat-x top #5dccfa; border:1px solid #1abcff; padding:5px 15px;*padding:5px;_padding:5px;color:#05336d; font-size:15px; cursor:pointer; margin:0px 2px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;font-weight:bold;}

.genbtnS{background:url(../images/GenStyleImage/BgBtnOutBlue.gif) repeat-x top #9fdef8; border:1px solid #9fdef8; padding:3px 10px;*padding:5px;_padding:5px;color:#2e6b87; font-size:12px; margin:0px 2px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; font-weight:bold;}
.genbtnShover{background:url(../images/GenStyleImage/BgBtnOverBlue.gif) repeat-x top #5dccfa; border:1px solid #1abcff; padding:3px 10px;*padding:5px;_padding:5px;color:#05336d; font-size:12px; cursor:pointer; margin:0px 2px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;font-weight:bold;}

a.genbtnS{text-decoration:none;color:#05336d;}
a.genbtn{text-decoration:none;color:#05336d;}
a.genbtnS:hover{color:#05336d;text-decoration:none;}
a.genbtn:hover{color:#05336d;text-decoration:none;}

.grid-item {width:250px; margin-bottom:10px; padding:10px;}
.grid-item .proitemblock{
padding:5px;	
border: 1px solid #F6F6F6;
border-radius:10px;
-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.45);
-moz-box-shadow: 0 1px 7px rgba(0,0,0,0.45);
box-shadow: 0 1px 7px rgba(0,0,0,0.45);
	}	
.grid-item--width2 { width: 500px; }

/* 160826 */
.prolistblock{ border-radius:10px; border:1px solid #E7E7E7; padding:10px; margin-bottom:20px;}
.imgcenter{margin:0 auto;}
a.buttonsty{
	background: #56bbf0; /* Old browsers */
	color: #fff;
	padding: 9px 25px;
	text-decoration:none;
	}
a[disabled].buttonsty{
	background: #808080; /* Old browsers */
	color: #fff;
	padding: 9px 25px;
	text-decoration:none;
    pointer-events: none;
	}
 
/* easytab style */
	.easytabH ul.menubar{ margin:0;  padding: 0; }
	.easytabH .menubar li { display: inline-block; zoom:1; *display:inline; background: #e9e9e9; border: solid 1px #dbdbdb; border-bottom: none; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius:10px 10px 0 0; border:0;}
	.easytabH .menubar li a { font-size: 15px; line-height: 2em; display: block; padding: 2px 15px; outline: none; text-decoration:none;}
	.easytabH .menubar li a:hover { background-color:#d1e4e9;-moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius:10px 10px 0 0; text-decoration:none;}
	.easytabH .menubar li.active {border: solid #ccc 1px; border-bottom:0; background: #fff; padding-top: 6px; position: relative; top: 1px; border-radius:10px 10px 0 0; }
	.easytabH .menubar li a.active { font-weight:bold; color:#000; }
	.easytabH .menubar li a.active:hover{ background-color:transparent; text-decoration:none; cursor:default;}
	.easytabH .panel-container{ background: #fff; border: solid #dbdbdb 1px; padding: 10px; -moz-border-radius: 0 5px 5px 5px; -webkit-border-radius: 0 5px 5px 5px; border-radius: 0 5px 5px 5px;}
	/* easytab垂直tabs */
	.easytabV ul.menubar {list-style: none; margin: 0; padding: 0;float:left; border-right:1px solid #dbdbdb;}
	.easytabV .menubar li { width:auto; display: block; margin: 0; padding: 0; text-align:left; }
	.easytabV .menubar li a { display: block; padding: 5px 3px;  outline: none; background:#e9e9e9; margin-bottom:5px;}
	.easytabV .menubar li a:hover { text-decoration:none;-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	.easytabV .menubar li.selected-tab a{position: relative; left: 1px; background:#fff; border:1px solid #dbdbdb; border-right:0; border-left:0; color:#000;}
	.easytabV .panel-container{}
.inputline{border:1px solid #CCC; padding:5px; margin:5px;width:50%;}	
.searchitem{display:inline-block; margin-right:5px; margin-bottom:5px; width:22%;}
a.buttonfull{
	background: #56bbf0; /* Old browsers */
	color: #fff;
	width:100%;
	padding:10px;
	display:inline-block;
	text-align:center;
	font-size:16px;
	text-decoration:none;
	}	
	
/* 20160922 */
#ForsearchBlock{position:fixed; bottom:40%; left:90%; z-index:999;}
#Forsearchbtn a{background:#56bbf0; border-radius:10px; width:130%; padding:15px 0; text-align:center; display:inline-block;}
#Forsearchbtn a:hover{background:#fbb03b;}
#Forsearchbtn a[disabled]{background:#808080;pointer-events: none;}
#Forshoppingcart{width:100px; padding:5px; border:1px solid #96d8fa; background:#fff; border-radius:10px; margin-top:10px; color:#56bbf0;}
.shoppingcartnumber{
	background:             radial-gradient( 5px -9px, circle, white 8%, #2fb011 26px );
		background:    -moz-radial-gradient( 5px -9px, circle, white 8%, #2fb011 26px );
		background:     -ms-radial-gradient( 5px -9px, circle, white 8%, #2fb011 26px );
		background:      -o-radial-gradient( 5px -9px, circle, white 8%, #2fb011 26px );
		background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #2fb011 26px );
	background-color: #2fb011;
	border: 2px solid white;
	border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
	box-shadow: 1px 1px 1px black;
	color: white;
	font: bold 15px/13px Helvetica, Verdana, Tahoma;
	height: 24px; 
	padding: 4px 6px 0 6px;
	text-align: center;
	min-width: 14px;
	display:inline-block;
	}
.shoppingcartinline{display:inline-block; margin-right:5px; margin-top:5px;}
.shoppingcheck{width:230px; position:absolute;height:94%; cursor:pointer;}
.shoppingcheckup{background:url(../images/bg-checkup.png) no-repeat center; height:96%; border-radius:10px; width:230px; position:absolute;}

/* 2016/10/04 ochison add */
.shoppingcartbigimg{width:100%; height:150px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}	
.shoppingcartsmallimg{width:100%; height:100px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}
.shoppingcheck2{width:100%; position:absolute;height:91%; cursor:pointer;}
.shoppingcheckup2{background:url(../images/bg-checkup.png) no-repeat center; height:95%; border-radius:10px; width:95%; position:absolute; z-index:99;}
.shoppingcheck3{width:100%; position:absolute;height:100%; cursor:pointer;}
.shoppingcheckup3{background:url(../images/bg-checkup2.png) no-repeat center; height:98%; border-radius:10px; width:78%; position:absolute; z-index:99;}
/* 小於768px以下的螢幕 */
@media (max-width: 767px) {
.shoppingcartbigimg{width:100%; height:200px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}	
.shoppingcartsmallimg{width:100%; height:100px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}
.shoppingcheckup2{background:url(../images/bg-checkup.png) no-repeat center; height:100%; border-radius:10px; width:95%; position:absolute; z-index:99;}

}

/* 介於991~768px的螢幕 */
@media (min-width: 768px) {
.shoppingcartbigimg{width:100%; height:180px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}	
.shoppingcartsmallimg{width:100%; height:100px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}
.shoppingcheckup2{background:url(../images/bg-checkup.png) no-repeat center; height:95%; border-radius:10px; width:95%; position:absolute; z-index:99;}

}
/* 介於1199~992px的螢幕 */
@media (min-width: 992px) { 
.shoppingcartbigimg{width:100%; height:150px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}	
.shoppingcartsmallimg{width:100%; height:60px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}
.shoppingcheckup2{background:url(../images/bg-checkup.png) no-repeat center; height:95%; border-radius:10px; width:90%; position:absolute; z-index:99;}
}
/* 大於1200px的螢幕 內容最大到970px,故需覆寫bootstrap container原始設定 */
@media (min-width: 1200px) {
.shoppingcartbigimg{width:100%; height:150px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}	
.shoppingcartsmallimg{width:100%; height:100px; overflow:hidden; border:1px solid #c1d0d4; border-radius:5px;}
.shoppingcheckup2{background:url(../images/bg-checkup.png) no-repeat center; height:91%; border-radius:10px; width:94%; position:absolute; z-index:99;}
.shoppingcheckup3{background:url(../images/bg-checkup2.png) no-repeat center; height:97%; border-radius:10px; width:75%; position:absolute; z-index:99;}

}
/*螢幕解析度高度768以下*/
@media screen and (max-height:768px){
    #ForsearchBlock{position:fixed; bottom:10%; left:90%; z-index:999;}
}