.grey .accordion{font: bold 14px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}
.grey .accordion a {padding: 10px 10px 10px 55px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {background: #D7D4D4 url(images/bg_grey.png) repeat-x 0 -1px;}
.grey .accordion a.dcjq-parent.active {}
.grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(images/arrow_grey_right.png) no-repeat 0 center;}
.grey .accordion a.dcjq-parent.active .dcjq-icon {background: url(images/arrow_grey_down.png) no-repeat 0 center;}
.grey .accordion a:hover {background: #fff; color: #990000;}
.grey .accordion a:active{}

.grey .accordion .itemnoa{padding: 10px 10px 10px 50px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}

.tabmenuT2block{padding:0; border-bottom:1px solid #d3d3d3;padding-bottom:2px;}
.tabmenuT2Btn{margin:0; padding:0;}
.tabmenuT2Btn a{margin:0;color:#0075a1; text-decoration:none; background-color:#e2e2e2;background:linear-gradient(#ffffff, #e2e2e2); padding:5px 25px 3px 25px; border:1px solid #d3d3d3;border-top-left-radius:10px; border-top-right-radius:10px;outline:none;behavior:expression(this.onFocus=this.blur());}
.tabmenuT2Btn a:hover{color:#049fe7; background:#fff;}
.tabmenuT2BtnCurrent a{padding:5px 25px; background:#FFFFFF; border:1px solid #d3d3d3; border-bottom:0; font-weight:bold;border-top-left-radius:10px; border-top-right-radius:10px;color:#000;}
.tabmenuT2BtnCurrent a:hover{color:#000; cursor:default;}