﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ImagePicture.aspx.cs" Inherits="WebPage_ImagePicture" %>

<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/scatter.css" charset="utf-8">
    <script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="../js/d3.tip.v0.6.3.js"></script>
    <script src="../js/scatter.js"></script>
</head>
<body>
    <form id="form1" runat="server">

        <div id="scatter">
            <div style="text-align:center">
                <asp:Label ID="lbl_xyName" runat="server" Text="Label"></asp:Label>
            </div>

            <%-- 圖 --%>
        </div>
    </form>
</body>
</html>
